@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

* {
  font-family: Quicksand;
  font-weight: 700!important;
  color: #2D3E50;
}

.btn_1 {
  background-color: #2D3E50;
  border: none;
  color: white;
}

.btn_1:hover {
  background-color: #5b7896;
  border: none;
  color: white;
}

.btn_1:disabled {
  background-color: #5b7896;
  color: antiquewhite;
}

.link {
  font-size: 12.5px;
  padding-left: 11.5em;
  cursor: pointer;
}